{% extends 'base.html.twig' %}
{% block title%} Liste des Articles{% endblock %}
{% block body%}
<h1>Les Produits</h1>
{{ form_start(form) }}
<div class="form-row align-items-end" >
<div class="col">
    {{ form_row(form.nom) }}
</div>
<div class="col">
    <div class="form-group">
        <button type="submit" class="btn btn-secondary">Rechercher</button>
    </div>
</div>
</div>
{{ form_end(form) }}



    
   

    <section class="row">
    

        {% for product in Products %}
            <div class="col-4 mt-4">
                <div class="border border-dark rounded p-2 clearfix">
                    <h2>{{ product.title }}</h2>
                    <p>{{ product.price }}</p>
                    <img class="w-100" src="{{ asset('uploads/') ~ product.image }}" alt="Image de {{ product.title }}">
                    <hr>
                    <a href="{{path("cart_add", {id: product.id})}}" class="btn btn-outline-success">
                        <i class="bi bi-cart-plus"></i> Ajouter
                    </a>
                    
                </div>
            </div>
        {% endfor %}
    </section>
{% endblock %}
