{% extends 'base.html.twig' %}
{% block title %}{{ Produits.title }}{% endblock %}
{% block body %}
<h1>{{ Produits.title}}</h1>
<p>{{ Produits.image }}</p>
<p>{{ Produits.price }}</p>
<hr>
<a href="/">Retour</a>
{% endblock %}
